/* Edit section starts here */

#edit {
    --pri-color: rgb(38, 114, 237);
    --sec-color: rgb(197, 197, 197);
    width: 37rem;
    background-color: white;
    margin: 3rem auto 0 auto;
    border: 1px solid var(--sec-color);
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
}

#edit-section {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    /*display: none;*/
}

#edit-section label {
    font-size: 1.5rem;
    margin: 0.2rem 0;
    color: rgb(161, 158, 158);
}

#edit-section input {
    width: 70%;
    outline: none;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

#edit-btn {
    color: var(--pri-color);
    background-color: white;
}

#edit-btn:hover {
    color: white;
    background-color: var(--pri-color);
}

/* works to Remember Starts Here */
#task-section{
    width: 37rem;
    margin: 0 auto;
    border-bottom: 1px solid var(--sec-color);
}
#task-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-section li {
    padding: 1rem 0;
    border: 1px solid var(--sec-color);
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-section1 {
    width: 80%;
}

.task-section2 {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.task-section1 input {
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    accent-color: var(--pri-color);
}

.checkbox:checked + p{
   text-decoration-line: line-through;
}

.task-section1 p {
   display: inline;
   font-size: 1.5rem;
}

.edit-icon svg,
.delete-icon svg  {
    stroke: var(--pri-color);
    padding: 3px 5px;
    cursor: pointer;
}

.edit-icon svg:hover,
.delete-icon svg:hover {
    background-color: var(--sec-color);
}

