body {
    padding: 0;
    margin: 0;
    --pri-color: rgb(255, 51, 174);
    --sec-color: rgb(197, 197, 197);
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 10rem;
    background-color: var(--pri-color);
}

#container {
    display: block;
    width: 35rem;
    height: 5rem;
    padding: 0.5rem 1rem;
    background-color: white;
    margin: 0 auto;
    border: 1px solid var(--sec-color);
    box-shadow: 1px 1px 8px var(--sec-color);
    position: relative;
    top: -2.5rem;
}

#container label {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

#container input {
    width: 80%;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    outline: none;
    font-family: inherit;
}

.btn {
    padding: 0.2rem 0.8rem;
    font-size: 1.2rem;
    border: 2px solid var(--pri-color);
    opacity: 0.9;
    cursor: pointer;
}

#add-btn {
    margin-left: 1rem;
    background-color: var(--pri-color);
    color: white;
}


#container button:hover {
    opacity: 1;
}